<html>
    <fieldset>
  <h1 style="text-align:center;">
  <legend> APPLY TO DREAM YOUR JOB</legend>
</h1><br>
    </fieldset>
    <h1 style="text-align:center;">
    Featured companies frequently hiring
    </h1>
    <style> 
    .div1 {
      width: 300px;
      height: 100px;
      border: 1px solid blue;
    }
    
    .div2 {
      width: 300px;
      height: 100px;  
      padding: 50px;
      border: 1px solid red;
    }
    </style>
    <body>
    <img src="http://static.businessworld.in/article/article_extra_large_image/1575800516_470pCd_31501458551_8584d105e0_z.jpg" width="200" height="150" alt="TATA">
    <input type="button" onclick="window.location.href='https://www.w3docs.com';" value="select" />


    
    </body>
 </html>